{% assign the-location = site.data.data.the-location %}
{% if the-location %}
<section class="section summary-section">
<div class="section-left">
  <h2 class="section-title">
    {{ the-location.title }}
  </h2>

  <div class="summary">
    <div>
      {{ the-location.paragraph | markdownify }}
  </div>
  <div id="address">
      {{ the-location.address | markdownify }}
  </div>
    <a href="{{ the-location.link }}">Wegbeschreibung</a>
  </div><!--//summary-->
</div>
<div class="section-right"></div>
</section><!--//section-->
{% endif %}
