{% assign timeline = site.data.data.timeline %}
{% if timeline %}
<section class="section summary-section">
  <div class="section-left">
    <h2 class="section-title">
      {{ timeline.title }}
    </h2>

    <div class="summary">
      {% for time in timeline.times %}
      <div>{{ time }}</div>
      {% endfor %}
    </div>
    <!--//summary-->
  </div>
  <div class="section-right sideimage" id="timeline">
    <!-- <img src="../assets/images/pocket-watch.jpg" /> -->
  </div>
</section>
<!--//section-->
{% endif %}