{% assign wir-heiraten = site.data.data.wir-heiraten %}
{% if wir-heiraten %}
<section class="section summary-section">

  <div class="section-left">
    <h2 class="section-title">
      {{ wir-heiraten.title }}
    </h2>

    <div class="summary">
      {{ wir-heiraten.paragraph | markdownify }}
    </div>
    <!--//summary-->
  </div>

  <div id="frame" class="section-right sideimage">
    <div class="carousel">
      <div id="wir-heiraten" class="carousel-item"></div>
      <div id="captain" class="carousel-item"></div>
      <div id="mountains" class="carousel-item"></div>
      <div id="wir-heiraten" class="carousel-item"></div>
    </div>
  </div>
</section>
<!--//section-->
{% endif %}