/* ======= Base ======= */
body {
    font-family: AlegreyaSansSC-Light;
    color: $text-color-secondary;
    background: $smoky-white;
    font-size: 16px;
    padding: 0 30px 10px 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: alexBrush;
    src: url("../fonts/AlexBrush-Regular.ttf");
}

@font-face {
    font-family: AlegreyaSansSC-Medium;
    src: url("../fonts/AlegreyaSansSC-Medium.ttf");
}

@font-face {
    font-family: AlegreyaSansSC-Light;
    src: url("../fonts/AlegreyaSansSC-Light.ttf");
}

#upper-flowers {
    margin-top: 0;
    min-height: 175px;
    min-width: 300px;
    background-image: url("../images/upper-flowers.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#lower-flowers {
    margin-top: 0;
    min-height: 175px;
    min-width: 300px;
    background-image: url("../images/lower-flowers.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: alexBrush;
    height: 180px;
    margin-bottom: 11em;

    h1 {
        color: #3c363c;
        position: absolute;
        margin-top: 4.5em;
        font-size: 4.2em;
        margin-left: -0.1em;
        white-space: pre;
        text-align: center;
    }
}

a {
    color: darken($theme-color, 15%);
    &:hover {
        text-decoration: underline;
        color: darken($theme-color, 30%);
    }
    &:focus {
        text-decoration: none;
    }
}

p {
    line-height: 1.5;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

.main-wrapper {
    h2 {
        font-family: AlegreyaSansSC-Light;
    }

    section {
        display: flex;
        flex-direction: row;
        @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
        border-radius: 5px;
        background: #fff;
        margin-bottom: 60px;
        min-height: 280px;
    }
    .section-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        color: darken($theme-color, 15%);
        margin-top: 0;
        margin-bottom: 20px;
    }
    .section-left,
    .section-right {
        margin: 60px;
        flex-direction: column;
        width: 50%;
    }

    .sideimage {
        margin: 0px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #wir-heiraten {
        width: 100%;
        height: 100%;
        flex: 0 0 25em;
        background-size: cover;
        background-image: url("../images/carousel/wir-heiraten.JPG");
    }

    #captain {
        width: 100%;
        background-size: cover;
        background-position: 0 10%;
        height: 100%;
        background-image: url("../images/carousel/captain.JPG");
    }

    #mountains {
        width: 100%;
        background-size: cover;
        background-position: 0 62%;
        height: 100%;
        background-image: url("../images/carousel/mountains.JPG");
    }

    #date {
        background-image: url("../images/eberg2.png");
    }

    #timeline {
        background-image: url("../images/pocket-watch.png");
    }

    #location {
        background-image: url("../images/eberg.png");
    }

    #gift {
        background-image: url("../images/route-66.png");
    }

    #dresscode {
        background-image: url("../images/dress-code.png");
    }

    #dresscode-para {
        font-weight: 300;
    }

    #rsvp {
        background-image: url("../images/rsvp.png");
    }

    #frame {
        overflow: hidden;
    }

    #address {
        margin-bottom: 1.5em;
    }

    .carousel {
        width: 100%;
        height: 100%;
        animation: carousel 12s ease-in-out infinite;
    }

    .button {
        background-color: #A3918F;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 3px;
    }
}

.photo-ref {
    margin-top: 6em;
    font-size: 0.75em;
}

.footer {
    padding-top: 30px;
    .copyright {
        line-height: 1.6;
        color: $text-color-secondary;
        font-size: 13px;
    }

    .fa-heart {
        color: $heart;
    }
}

@keyframes carousel {
    0%,
    15% {
        transform: translateY(0);
    }
    30%,
    45% {
        transform: translateY(-280px);
    }
    60%,
    75% {
        transform: translateY(-560px);
    }
    90%,
    100% {
        transform: translateY(-840px);
    }
}
