/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

    body {
        padding: 0;
    }

    #intro {
        text-align: center;
        width: 100%;
    }

    .main-wrapper {
        padding: 30px;

        .upper-row {
            margin-bottom: 0;
        }

        .section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-width: 250px;
            min-height: 180px;
        }

        section:nth-of-type(2n){
            flex-direction: column-reverse;
        }

        .section-left, .section-right{
            margin-top: 60px;
            margin-bottom: 30px;
            width: 80%;
        }

        .sideimage {
            margin: 0;
            height: 214px;
            width: 100%;
        }

        #gifts {
            background-position-x: 79%;
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {

}
